<div class="ui menu">
  <%= link_to 'Memory', root_path, class: 'header item' %>
  <% if user_signed_in? %>
    <%= link_to 'Dashboard', dashboard_user_path(current_user), class: 'item' %>
  <% end %>
  <a class="item">
    Tests
  </a>
  <%= link_to 'Network', users_path, class: 'item' %>
  <div class="right menu">
    <a class="item">
      FAQ
    </a>
    <% if user_signed_in? %>
      <%= link_to 'My Profile', edit_user_registration_path(current_user), class: 'item' %>
      <%= link_to destroy_user_session_path, class: 'item', method: :delete do %>
        <span>Log Out</span>
        <i class="fa fa-sign-out"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: 'item' do %>
        <span>Log In</span>
        <i class="fa fa-sign-in"></i>
      <% end %>
    <% end %>
  </div>
</div>