<!DOCTYPE html>
<html>
<head>
  <title>Memory</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header' %>

<div class="ui page grid">
	<div class="ten wide row">
		<div class="column">
      <%= render 'shared/notifications' %>
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
